@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
section {
    width: 1140px;
    margin: 0 auto;
    padding: 105px 0;
}
.titleText {
    text-align: center;
}
.geniuses {
    text-transform: uppercase;
    color: #898f8f;
    font-size: 20px;
}
h1 {
    color: #ffcc00;
    text-transform: uppercase;
    font-size: 72px;
    margin: 0;
}
.line {
    margin: 0 auto 10px;
}
.blockFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
}
.flexLeft {
    width: 49%;
    padding-top: 40px;
}
.flexRight {
    border-left: 1px solid #ffcc00;
    width: 50%;
    padding-top: 40px;
    text-align: center;
}
.blockImg {
    background: url(../img/bg.jpg) center no-repeat;
    width: 420px;
    height: 420px;
    margin: auto;
    padding-top: 32px;
}
.teamImg {
    width: 388px;
    height: 388px;
}
.name {
    font-size: 40px;
    color: #666666;
    font-weight: 800;
    margin: 10px 0;
}
hr {
    width: 100px;
   border: 1px solid #ffcc00;
   background-color: #ffcc00;
   margin-bottom: 20px;
}
.position {
    font-size: 30px;
    color: #666666;
    font-weight: 400;
    margin: 0 0 20px;
}
.iconFlex {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.ico {
    width: 30px;
    margin: 0 5px;
}
.ico:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}
.text {
     padding-bottom: 10px;
    font-size: 14px;
    width: 400px;
    margin: 0 auto;
}
.buttom {
    margin-top: 20px;
    width: 100px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ffcc00;
    color: #666666;
    background-color: white;
}
.buttom:hover {
    background-color: #ffcc00;
    border: 1px solid white;
    color: white;
}
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    30% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    40% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    50% {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    65% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    30% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    40% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    50% {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    65% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .teamImg > img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
  }
  .teamImg > img:hover {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -o-transform: scale(1.09);
  }